#homeContainer {
  background-color: rgb(163, 192, 217);
  /* background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.freepik.com%2Ffree-photo%2Fabstract-technology-binary-code-background_34629-592.jpg&f=1&nofb=1"); */
  height: 22rem;
}

.containerNav{
    background-color: violet;
}

.theHeading {
  font-size: 4rem;
  color: rgb(0, 0, 0);
}

#name{
    color: white;
}

@media screen and (max-width: 1141px){
    .columnOverview{
        margin-top: -3.5rem !important;
    }
}

@media screen and (max-width: 993px){
    .columnOverview{
        margin-top: 0rem !important;
    }
}