.linkTag{
    font-size: 3rem;
}

#afsDescription{
    font-size: 1.35rem;
}

#directoryDescription{
    font-size: 1.35rem;
}

#safeMusicDescription{
    font-size: 1.35rem;
}

#footballDescription{
    font-size: 1.35rem;
}